/* App.css */
.App {
  text-align: center; /* Centering the content */
  background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  
  min-height: 100vh; /* Make the app fill the whole viewport height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  font-family: 'Arial', sans-serif; /* Set a default font */
}

.displaycontainer {
  background-color: aliceblue;
  height: 800px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;


}
.bottom-nav {
  width: 410px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: max-content;
  /* If you need to raise the nav above some other fixed elements, use z-index */
  z-index: 10;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow to the top of the nav */
  margin-top: 751px;
}
.stats-item{
  font-size: 17px;
  
}